@import '../../styles/variaveis';

.taskBox {
  display: flex;
  flex-direction: column;
  background-color: $blue;
  width: 100%;
  padding: 24px;
  color: $white;
  border-radius: 10px;
  position: relative;
  transition: .4s ease-out;
  
  .taskName {
    padding-right: 24px;
    font-weight: 700;
    font-size: 18px;
    line-break: anywhere;
    
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .taskDescription {
    font-weight: 400;
    font-size: 18px;
    margin-top: 8px;
    line-break: anywhere;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .taskStatus {
    padding: 8px 12px;
    background-color: $white;
    width: 100%;
    max-width: 140px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    transition: .4s ease-out;
    position: static;
    border: none;
    cursor: pointer;

    &:hover {
      transform: translateY(-4px);
    }

    svg {
      margin-right: 4px;
      margin-bottom: 1px;
    }
  }

  button {
    position: absolute;
    right: 12px;
    top: 12px;
    color: $white;
  }

  &.completed {
    background-color: rgba(0, 71, 255, 0.64);

    .taskName, .taskDescription {
      text-decoration: line-through;
    }
  }

  animation: surgir 1.2s ease;
}

@keyframes surgir {
  from {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.menuPopover {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;

  svg {
    margin-right: 6px;
  }
}
