@import '../../styles/variaveis';
@import '../../styles/breakpoints';

.container {
  display: flex;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 24px 16px;
  animation: aparecer 1.5s ease;

  @media screen and (max-width: $mobile) {
    min-height: auto;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 583px;
  margin: 100px auto auto auto;
  padding-bottom: 40px;

  @media screen and (max-width: $mobile) {
    max-width: none;
    margin-top: auto;
  }
}

.searchInput {
  background: rgba(0, 0, 0, 0.1);
  display: block;
  border: none;
  padding: 16px;
  width: 100%;
  height: 52px;
  max-width: 583px;
  display: flex;
  align-items: center;
  border-radius: 10px;

  @media screen and (max-width: $mobile) {
    max-width: none;
  }
  
  input {
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
    margin-left: 8px;
    font-weight: 300;

    &::placeholder {
      color: inherit;
      font-weight: 300;
    }
  }
}

.title {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: left;
  width: 100%;
  max-width: 583px;

  @media screen and (max-width: $mobile) {
    max-width: none;
  }
}

.titleBlock {
  display: flex;
  align-items: center;
  width: 100%;

  button {
    white-space: nowrap;
    max-width: 156px;
    min-width: 156px;
    display: flex;
    align-items: center;
    transform: translateY(1px);

    @media screen and (max-width: 190px) {
      min-width: none;
      white-space: normal;
    }
    
    .buttonText {
      transform: translateY(1px);
    }
  }

  @media screen and (max-width: 310px) {
    flex-direction: column;
    margin-bottom: 25px;
    align-items: flex-start;
  
    h1 {
      margin-bottom: 0;
    }
  }
}


.tasksList {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 583px;
  gap: 21px;

  @media screen and (max-width: $mobile) {
    max-width: none;
  }
}

.buttonNewTask {
  background-color: $blue;
  color: $white;
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-top: 32px;
  align-self: flex-end;
  transition: .4s ease;

  &:hover {
    background-color: $dark-blue;
  }
}

.noTasks {
  text-align: center;
  padding: 20px;

  span {
    color: inherit;
    opacity: 0.4;
    font-size: 20px;
    font-weight: 500;
  }

  svg {
    max-width: 160px;
  }
}
