@import '../../styles/variaveis';
@import '../../styles/breakpoints';

.hamburgerMenu {
  display: none;

  @media screen and (max-width: $mobile) {
    display: block;
    height: fit-content;
    background-color: transparent;
    border: 0;
    margin: 24px auto 0 16px;
    padding: 0;
  }
}

.lateralMenu {
  background-color: $blue;
  width: 192px;
  padding: 32px 24px;

  @media screen and (max-width: $mobile) {
    position: fixed;
    top: 0;
    transition: .4s;
    left: -192px;
    z-index: 3;
    height: 100vh;
    
    &.lateralMenu__ativo {
      left: 0;
      transition: .4s;
    }
  }
}

.userInfo {
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: 1px solid $white;
  padding-bottom: 16px;
}

.userDados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
  font-size: 14px;
  font-weight: 300;
  gap: 4px;

  & > span {
    text-transform: capitalize;
  }

  & > span:first-child {
    font-weight: 500;
  }
}

.navegacao {

  padding-top: 22px;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 14px;
    margin: 0;
    padding: 0;
  }
}

.item {
  display: flex;
  align-items: center;
  color: $white;
  font-size: 14px;
  padding: 8px 24px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease;
  width: 100%;

  &:hover {
    background-color: #003ace;
  }
  
  &.item__ativo {
    background-color: $dark-blue;
  }
  
  .iconContainer {
    margin-right: 24px;
    display: flex;

    img {
      width: 100%;
    }
  }
}